gnat/

docs/_build

*.cgpr
b__*
*.bexch
*.a
*.d
gnatinspect.db
obj/
lib/
*.stdout
*.stderr
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
/gnat_src

examples/library/obj
examples/mytests/dbtest1/*.orm
examples/mytests/dbtest2/*.orm
examples/mytests/dbtest9/*.orm
examples/mytests/other_tests/*.orm

generated/

.clang*
.#*
.~*
